<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tablet.concurso">

    <!-- ********************************************* -->
    <!-- Permisos que utiliza la aplicacion -->
    <!-- ********************************************* -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".Clases.Globales"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".Servicios.Temporizador"
            android:enabled="true"
            android:exported="true"></service>
        <!-- *********************************************** -->
        <!-- ACTIVIDADES DE LA APLICACION -->
        <!-- *********************************************** -->
        <activity
            android:name=".Actividades.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" /> <!-- ********************************************* -->
        <!-- SERVICIOS DE LA APLICACION -->
        <!-- ********************************************* -->
        <service
            android:name=".Servicios.SocketServicio"
            android:enabled="true" />
    </application>

</manifest>